services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: go-unit-converter-backend
    container_name: go-unit-converter-backend
    environment:
      - ENV=prod
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: go-unit-converter-frontend
    container_name: go-unit-converter-frontend
    ports:
      - "8000:80"
    depends_on:
      - backend
    restart: unless-stopped
